<% console.log('......index.ejs running') %>
<!-- body for layout.ejs for front page source/index.md ------------------------------------------->
<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">

      <h1>
        Bridging FeathersJS and<br/>real world apps
      </h1>
      <p>
        <a class="button" href="<%- url_for("/whats-new") %>">What's New</a>
        <a class="button white" href="https://github.com/feathers-plus" target="_blank">GitHub</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Extend FeathersJS</h2>
      <p>
        <a href="<%- url_for("/v1/feathers-hooks-common") %>"><strong>feathers-hooks-common</strong></a> contains the FeathersJS common hooks.<br/><br/>
        <a href="<%- url_for("/v1/batch-loader") %>"><strong>batch-loader</strong></a> transparently reduces the number of database calls.<br/><br/>
        <a href="<%- url_for("/v1/authentication-management") %>"><strong>authentication-management</strong></a> sign up verification, password reset, etc.<br/><br/>
        <strong>offline-*</strong> offline-first, realtime synchronization.
      </p>
    </div>

    <div class="point">
      <h2>Service Adapters</h2>
      <p>
        <strong>mongoose-advanced</strong> full access to Mongoose schema features.<br/><br/>
        <strong>graphql,</strong> the GraphQL service for SQL and non-SQL databases.<br/><br/>
        <strong>postmark</strong> for Postmark.
      </p>
    </div>

    <div class="point">
      <h2>Framework Integration</h2>
      <p>
        <a href="https://feathers-vuex.feathers-plus.com" target="_blank"><strong>feathers-vuex</strong></a> for Vue/Vuex.<br/><br/>
        <strong>redux</strong> for React/Redux.
      </p>
    </div>

  </div>
</div>

<div id="footer">
  <p>This web site is based on Evan You's vuejs.org site.</p>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
