<% if (page.type) { %>
  <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
  <% if (page.type) { %>
    <% if (page.type === 'menu') { %>
      <form id="search-form">
        <input type="text" id="search-query-menu" class="search-query st-default-search-input">
      </form>
      <%- partial('partials/toc', { type: 'guide' }) %>
    <% } else { %>

    <% } %>
  <% } %>
  <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
  <% } %>
  <%- page.content %>
  <% if (page.type === 'guide') { %>
    <div class="guide-links">
      <!-- link to previous page -->
      <% getPagesInFolder(site, page.path).forEach(p => { if(p.order === page.order - 1 ) {%>
        <span>← <a href="<%- url_for(p.path) %>"><%- p.title %></a></span>
      <% } }) %>
      <!-- link to next page -->
      <% getPagesInFolder(site, page.path).forEach(p => { if(p.order === page.order + 1 ) {%>
        <span style="float: right;"><a href="<%- url_for(p.path) %>"><%- p.title %></a> →</span>
      <% } }) %>
    </div>
  <% } %>
  <div class="footer">

    Caught a mistake or want to contribute to the documentation?
    <a href="https://github.com/feathers-plus/docs.feathers-plus.org/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
      Edit this page on Github!
    </a>
  </div>
</div>
